/* CSS Document */

/*
///////////////////////////////////////////////////////////////////////
//                                                                   //
//                             STARÁ KRÈ                             //
//                    Sbírka historických pohledù                    //
//                                                                   //
//                   Copyright © Ellrohir 2010-11                    // 
//                                                                   //
//                                                                   //
//    Page Info                                                      //
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// *  Author:         *  Ellrohir [ ellrohir@seznam.cz ]           * //
// *  Homepage:       *  http://ellrohir.xf.cz                     * //
// *  File:           *  skin/skin3.css                            * //
// *  Purpose:        *  Cascading style sheet for map page        * //
// *  System Version: *  1.0                                       * //
// *  Last Modified:  *  2011-07-06 1530 GMT+1                     * //
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
///////////////////////////////////////////////////////////////////////
*/

/* background */  

.background
{
 background-image: url('background_wood.jpg');
 background-repeat: repeat;
}

.div_header
{
 position: relative;
 width: 95%;
 height: 25px;
 background-image: url('background_header.jpg');
 background-repeat: no-repeat;
 background-position: center;
 overflow: hidden;
 text-align: center;
}

.div_content
{
 position: relative;
 width: 95%;
 background-image: url('background_content.jpg');
 background-repeat: repeat-y;
 background-position: center;
 overflow: hidden;
 text-align: center;
}

.div_footer
{
 position: relative;
 width: 95%;
 height: 25px;
 background-image: url('background_footer.jpg');
 background-repeat: no-repeat;
 background-position: center;
 overflow: hidden;
 text-align: center;
}


/* map background */  

.bgbox
{
 position: relative;
 background-image: url('mapa_krc.jpg');
 background-repeat: norepeat;
 width: 600px;
 height: 557px;
}


/* misc */

.header_text
{
 padding-top: 3px;
}

.footer_text
{
 padding-top: 3px;
}

a.footer:link { color: #000000; }
a.footer:visited { color: #000000; }
a.footer:active  { color: #000000; }